.pageContainer {
    background: #fff;
    width: 70%;
    border-radius: 20px;
    height: 100svh;
    margin-inline: auto;
    box-sizing: border-box;
    padding: 25px 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
