.Modal {
    z-index: 100000;
    border: 1px solid black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    background: rgba(20, 20, 20, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    background: #fff;
    max-width: 70%;
    border-radius: 10px;
    max-height: 70%;
    padding: 20px;
    position: relative;
    text-align: left;
}

.closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    background: #eee;
}

.content {
    margin: 10px;
    min-width: 200px;
}

.closeIcon {
    size: 15px;
    stroke-width: 3;
    stroke: #aaa;

    scale: 0.8;
}