.Avatar {
    height: 80px;
    width: 80px;
    background: #D5E4F7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    font-size: 40px;
}