body {
    margin: 0;
    font-family: SB Sans Text Mono, sans-serif;
    background: #F4F4F5;
}

a {
    color: #5558FA;
    text-decoration: none;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 24px
}

.button {
    font-weight: 400;
    font-size: 12px;

    &[type="submit"] {
        background: #5558FA;
        &:hover {
            background: rgba(85, 88, 250, 0.8);
        }
    }
}