body {
    margin: 0;
    font-family:
        SB Sans Text Mono,
        sans-serif;
    background: #f4f4f5;
}

a {
    color: #5558fa;
    text-decoration: none;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

.button {
    font-weight: 400;
    font-size: 12px;

    &.primary {
        background: #5558fa;

        &:hover {
            background: rgba(85, 88, 250, 0.8);
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}