.circle {
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.ResultIcon {
    @extend .circle;
    height: 80px;
    width: 80px;
    background: #ccc;
}

.icon {
    stroke: 4;
    color: #ffffff;
}

.success {
    @extend .circle;
    height: 40px;
    width: 40px; 
    background: #05AE71; 
}

.error {
    @extend .circle;
    height: 40px;
    width: 40px; 
    background: #E84E58; 
}